@page "/claimop/lista"

@using Microsoft.AspNetCore.Authorization;
@using WebBlazorN7.ViewModel;
@inject Services.IClaimService ClaimService

@attribute [Authorize]

<h3>Claims</h3>

<p>
	<a href="claimop/insere" class="btn btn-outline-info">Criar Nova Claim</a>
</p>

@if (claims == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table table-striped align-middle table-bordered">
		<thead class="table-success">
			<tr>
				<th>Type</th>
				<th class="col-md-3"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var claim in claims.OrderBy(x => x.Type))
			{
				<tr>
					<td>@claim.Type</td>
					<td class="col-md-3 text-center">
						<a href='/claimop/edita/@claim.Type' class="btn btn-outline-dark" role="button">Editar</a>
						<a href='/claimop/deleta/@claim.Type' class="btn btn-outline-danger" role="button">Excluir</a>
					</td>
				</tr>
			}
		</tbody>

	</table>
}

@code {
	List<ClaimViewModel> claims;

	protected override async Task OnInitializedAsync()
	{
		var retorno = await ClaimService.Get();

		claims = retorno.Item1;
	}
}
